@model PasswordModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>
<br />
<p>Please create a new password.</p>
<div class="row">
    <div class="col-lg-6">
        <div class="bs-component">
            <form autocomplete="off" asp-controller="Account" asp-action="ChangePasswordFromPrompt" method="post">
                @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })
                <fieldset>
                    <div class="form-group row">
                        <label asp-for="OldPassword" class="col-sm-4 col-form-label">Old Password:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter Old Password" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="NewPassword" class="col-sm-4 col-form-label">New Password:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Enter New Password" } })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="NewPasswordConfirm" class="col-sm-4 col-form-label">Confirm Password:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.NewPasswordConfirm, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Confirm New Password" } })
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>